<!DOCTYPE html>
<html>
 <head>
     <link rel="stylesheet" href="~/css/site.css" />
 </head>

 <body>
     <div class="container">
         <header>

             <div id="navigation-bar">
                 <div class="logo">
                     <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Logo_Tigo.svg" alt="logo" width="100" height="70">
                 </div>
                 <div class="top-nav">
                     <ul>
                         <li><a class="@ViewBag.Home" href="/">HOME</a></li>
                         <li><a class="@ViewBag.Aboutus" href="/aboutus">ABOUT US</a></li>
                         <li><a class="@ViewBag.Locatie" href="/locatie">LOCATIE</a></li>
                         <li><a class="@ViewBag.Contact" href="/contact">CONTACT</a></li>
                         <li><a class="@ViewBag.Login" href="/login">LOGIN</a></li> 
                     </ul>
                 </div>
             </div>
         </header>

         @RenderBody()

         <footer>
             <div class="footer">
                 <h2>Volg ons ook op social media</h2>
                 <div class="instagram">
                     <img src="https://www.freepnglogos.com/uploads/instagram-logo-png-transparent-0.png" alt="Instagrampng" width="70" height="70">
                     <h3>Tigo_Festival</h3>
                 </div>
                 <div class="facebook">
                     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/480px-Facebook_logo_%28square%29.png" alt="facebookpng" width="70" height="70">
                     <h3>Tigo_Festival</h3>
                     <br />
                     <h3> Of mail ons op 110176@st-maartenscollege.nl</h3>
                 </div>
                 
             </div>
         </footer>
     </div>
</body>
</html>
