@model SendAndStore.Models.Festival

@{
    ViewData["Title"] = "Festival";
}

<div class="detail">
    <h1>@Model.Naam</h1>
    <img src="@Model.Logo" alt="logo" width="150" height="120"
    <br />
    <p>@Model.Beschrijving</p>
    <br />
    <p>Datum: @Model.Datum</p>
    <p>De prijs van een kaartje voor @Model.Naam: @Model.Prijs</p>

</div>
