@using SendAndStore.Models
@model List<Festival>
@{
    ViewData["Title"] = "Tigo";
}
<h1>@ViewData["Title"]</h1>
<h1 class="display-4>Welcome, @ViewData["user"]</h1>

<div class="slideshow">
    <ul>
        @foreach (Festival p in Model)
        {
        <li>
            <a class="goed" href="/festival/@p.Id">@p.Naam</a>
            <p class="prijs">De prijs voor dit festival is @p.Prijs euro.</p>
            <img class="logofestival" src="@p.Logo" alt="logo" width="120" height="100">
            <br />
            <br />
        </li>
        }
    </ul>
</div>